body{
  margin:0px;
}
#spaceship{
  position: fixed;
  display:none;
  z-index: 12;
  height:300px;
  margin-top: 300px;
  padding-left: 59%;
}
#space{
  background-image: url("space.png");
  height:2000px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  z-index: 11;
}
#projects img{
  height: 300px;
  width: 300px;
}
#projRowOne li{
  display: inline-block;
  padding: 5%;
}
#projRowTwo li{
  display: inline-block;
  padding: 5%;
}
#space h1{
  font-family: 'Bad Script', cursive;
  color: #FFF;
  font-size: 90px;
  margin:0px;
  padding-top: 850px;
  padding-left: 8%;
}

#hotAirBalloon{
  position: fixed;
  display:none;
  z-index: 10;
  height:300px;
  margin-top: 300px;
  padding-left: 59%;
}
#mountains{
  background-image: url("mountains.png");
  height:900px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: gray;
  position: relative;
  z-index: 9;
}
#balloons{
  position: fixed;
  display:none;
  z-index: 8;
  height:300px;
  margin-top: 300px;
  padding-left: 59%;
}
#forest{
  background-image: url("forest.png");
  height:900px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: lightgreen;
  position: relative;
  z-index: 7;
}
#fishRider{
  position: fixed;
  display:none;
  z-index: 6;
  height:300px;
  margin-top: 300px;
  padding-left: 49%;
}
#ocean{
  background-image: url("jellies.png");
  background-color: lightblue;
  height:900px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
}
#ocean a{
  color:#FFF;
  font-size: 1.5vw;
  background-image: url("bubble.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 60px 30px 20px 30px;
}
#ocean a:hover{
  color:#ADD8E6;
  background-image: none;
}
#githubIcon{
  padding-top: 1px;
  padding-left: 300px;
}
#linkedinIcon{
  padding-top: 100px;
  padding-left: 200px;
}
#twitterIcon{
  padding-top: 1px;
  padding-left: 20px;
}
#emailIcon{
  padding-top: 55px;
  padding-left: 125px;
}
#resume{
  padding-top: 90px;
  padding-left: 30px;
}
#resume span{
  margin-left: -100px;
  font-family: 'Bad Script', cursive;
  color: #FFF;
  font-size: 4vw;
  display:none;
}
#lastName span, #firstName span{
  font-family: 'Bad Script', cursive;
  color: #FFF;
  font-size: 18vw;
  border: 0px solid #FFF;
  border-radius: 50%;
}
#firstName span{
  background-image: url("bubble.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 60px 10px 1px 50px;
}
#lastName span{
  padding: 0 50px 50px 10px;
  background-image: url("bubble.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#firstName{
  margin-top: 30vw;
  margin-left: 12vw;

}
#lastName{
  margin-left: 32vw;

}
@media(min-width: 470px){
  #spaceship{
    padding-left: 50%;
  } 
  #hotAirBalloon{
    padding-left: 50%;
  }
  #balloons{
    padding-left: 50%;
    }
  #fishRider{
    padding-left: 60%;
  } 
  #firstName{
    margin-top: 18vw;

  }
  #githubIcon{
    padding-top: 20px;
  }


}

@media(min-width: 530px){
  #spaceship{
    height: 400px;
    padding-left: 50%;
  } 
  #hotAirBalloon{
    height: 400px;
    padding-left: 50%;
  }
  #balloons{
    height: 400px;
    padding-left: 50%;
    }
  #fishRider{
    height: 400px;
    padding-left: 50%;
  } 
  #firstName{
    margin-top: 17vw;
    margin-left: 9vw;

  }
  #emailIcon{
  padding-top: 40px;
}
  #lastName{
    margin-top: 0vw;
    margin-left: 36vw;

  }
  #linkedinIcon{
  padding-top: 50px;
  padding-left: 250px;
}
#resume{
  padding-top: 0px;
  padding-left: 30px;
}

}

@media(min-width: 650px){
  #spaceship{
    padding-left: 60%;
  } 
  #hotAirBalloon{
    padding-left: 60%;
  }
  #balloons{
      padding-left: 60%;
    }
  #fishRider{
    padding-left: 60%;
  } 
  #linkedinIcon{
    padding-top: 70px;
    padding-left: 550px;
  }
  #lastName span, #firstName span{
    font-size: 15vw;
  }
  #firstName{
    margin-top: 15vw;
  }
  #lastName{
    margin-left: 35vw;
  }

}

@media(min-width: 730px){
  #lastName span, #firstName span{
    font-size: 8vw;
  }
  #firstName{
    margin-top: 18vw;
  }
  #lastName{
    margin-top: -20px;
  }

}

@media(min-width: 900px){
  #spaceship{
    height:450px;
  } 
  #hotAirBalloon{
    height:450px;
  }
  #balloons{
      height:450px;
    }
  #linkedinIcon{
    padding-top: 50px;
  }
  #githubIcon{
    padding-top: 0px;
  }
  #fishRider{
    height:425px;
  } 
  #lastName{
  margin-top: -5vw;
  margin-left: 30vw;
  }
}  


@media(min-width: 1100px){
  #spaceship{
    height:400px;
  } 
  #hotAirBalloon{
    height:400px;
  }
  #balloons{
      height:400px;
    }
  #fishRider{
    height:400px;
  }  
  #ocean a{
    font-size: 1vw;
  }
  #firstName{
    margin-top: 10vw;
    margin-left: 18vw;

  }
  #lastName{
    margin-top: -10vw;
    margin-left: 38vw;

  }

}

@media(min-width: 1500px){
  #firstName{
    margin-top: 2vw;

  }

}
