body{
  margin:0px;
}
#spaceship{
  position: fixed;
  display:none;
  z-index: 12;
  height:300px;
  margin-top: 300px;
  margin-left: 70%;
}
#space{
  background-image: url("space.png");
  height:2000px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  z-index: 11;
}
#projects img{
  height: 300px;
  width: 300px;
}
#projRowOne li{
  display: inline-block;
  padding: 5%;
}
#projRowTwo li{
  display: inline-block;
  padding: 5%;
}
#space h1{
  font-family: 'Bad Script', cursive;
  color: #FFF;
  font-size: 90px;
  margin:0px;
  padding-top: 850px;
  padding-left: 8%;
}

#hotAirBalloon{
  position: fixed;
  display:none;
  z-index: 10;
  height:300px;
  margin-top: 300px;
  margin-left: 70%;
}
#mountains{
  background-image: url("mountains.png");
  height:900px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: gray;
  position: relative;
  z-index: 9;
}
#balloons{
  position: fixed;
  display:none;
  z-index: 8;
  height:300px;
  margin-top: 300px;
  margin-left: 70%;
}
#forest{
  background-image: url("forest.png");
  height:900px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: lightgreen;
  position: relative;
  z-index: 7;
}
#fishRider{
  position: fixed;
  z-index: 6;
  height:300px;
  margin-top: 300px;
  margin-left: 70%;
}
#ocean{
  background-image: url("jellies.png");
  background-color: lightblue;
  height:900px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
}
#ocean a{
  color:#FFF;
  font-size: 1.5vw;
  background-image: url("bubble.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 60px 30px 20px 30px;
}
#ocean a:hover{
  color:#ADD8E6;
  background-image: none;
}
#githubIcon{
  padding-top: 1px;
  padding-left: 350px;
}
#linkedinIcon{
  padding-top: 40px;
  padding-left: 550px;
}
#twitterIcon{
  padding-top: 1px;
  padding-left: 20px;
}
#emailIcon{
  padding-top: 1px;
  padding-left: 125px;
}
#resume{
  padding-left: 30px;
}
#resume span{
  margin-left: -100px;
  font-family: 'Bad Script', cursive;
  color: #FFF;
  font-size: 4vw;
  display:none;
}
#lastName span, #firstName span{
  font-family: 'Bad Script', cursive;
  color: #FFF;
  font-size: 8vw;
  border: 0px solid #FFF;
  border-radius: 50%;
}
#firstName span{
  background-image: url("bubble.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 60px 10px 1px 50px;
}
#lastName span{
  padding: 0 50px 50px 10px;
  background-image: url("bubble.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#firstName{
  margin-top: 10vw;
  margin-left: 12vw;

}
#lastName{
  margin-top: -10vw;
  margin-left: 32vw;

}
